@import "./variables.scss";

body {
    background-color: $dashboard-bg;
    color: #fff;
}

.dashboard-title {
    font-size: 60px;
    font-family: $bebas;
    text-align: center;
}

.dashboard-p {
    font-size: 25px;
    font-family: $encode-sans;
    text-align: center;
}

.gif-divider {
    margin-bottom: 35px;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.small-img-row img {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* the sub image size  */
.small-img-col img {
    min-width: 120px;
    width: 20%;
    size: 100%;
    padding: 6px;
}