@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap');

$blue-hackathon: #0E6E8F;
$darkblue-hackathon: #051D40;
$dashboard-bg: #0E6E8F;

$bebas: "Bebas Neue";
$encode-sans: 'Encode Sans Semi Condensed';